
@tailwind base;
@tailwind components;
@tailwind utilities;
import { DragDropContext } from 'react-beautiful-dnd';


.navbar{
    display: flex;
    align-items: center;

}

.logo-image{ 

    width: 100px;
    height: 100px;

}

a{
    text-decoration: none;
    color: blue;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

